**/.DS_Store
.dockerignore
.git/
.github/
.idea/
.pre-commit-config.yaml
Dockerfile.dev
Dockerfile.prod
pb_data/
docker-compose.env.yml
docker-compose.prod.yml
frontend/README.md
frontend/dist/
frontend/node_modules/
portfolio
vendor/
